[packages]
certifi = "==2022.12.7"
cryptography = "==39.0.2"
dnspython = "==2.3.0"
pywin32 = { version = "==305", sys_platform = "== 'win32'" }
requests = "==2.28.2"
requests-toolbelt = "==0.10.1"

[dev-packages]
black = "==23.1.0"
pyinstaller = "==5.8.0"
types-pywin32 = "==305.0.0.9"
types-requests = "==2.28.11.15"

[requires]
python_version = "3.11"

[scripts]
build = "python build.py"
dev = "python -m simple --port 54"
tests = "python -m unittest discover --start-directory tests --top-level-directory . --pattern test_*.py"
