[packages]
certifi = "==2024.7.4"
cryptography = "==43.0.0"
dnspython = "==2.6.1"
httpx = { extras = ["http2"], version = "==0.27" }
pywin32 = { version = "==306", sys_platform = "== 'win32'" }

[dev-packages]
black = "==24.8.0"
pyinstaller = "==6.9.0"
types-pyinstaller = "==6.9.0.20240710"
types-pywin32 = "==306.0.0.20240806"

[requires]
python_version = "3.12"

[scripts]
build = "python build.py"
dev = "python -m simple --port 54"
tests = "python -m unittest discover --start-directory tests --top-level-directory . --pattern test_*.py"
